/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('http://fonts.cdnfonts.com/css/mv-boli');                
*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: auto;
}
.top-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #658265;
    padding-top:0.4%;
    padding-bottom:0.4%;
}
.email{
    width: 50%;
    display: flex;
    justify-content: center;
}
p{
    color: white;
}
.social-media{
    width: 4%;
    display: flex;
    padding-right: 5%;
    justify-content: space-around;
}
@media (max-width:991px) {
    .social-media{
        width: 7%;
    }
}
@media (max-width:554px) {
    .social-media{
        width: 9%;
    }
    p{
        font-size: 12px;
    }
}
@media (max-width:333px) {
    p{
        font-size: 10px;
    }
    .envelope{
        width: 15px;
        height: 7px;
    }
    .facebook , .instagram{
        width: 10px;
        height: 10px;
    }
}
.navbar{
    width: 100%;
    height: auto;
    position: relative;
    line-height: 60px;
    font-size: 18px;
    top: 0;
    left: 0;
    z-index: 10;
}
.links {
    width: 64%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.navbar-toggler{
    display:none;
}

@media (max-width: 767px) {
    .navbar{
        display: block;
        margin: 0 auto;
    }
    .links{
        width:100%;
        display:block;
        text-align: center;
    }
    .navbar ul {
        width: 100%;
        background-color: transparent;
        height: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
        max-height: 100vh;
    }
    .navbar ul li {
        width: 100%;
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 20px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }
    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: rgb(0, 0, 0);
        height: 3px;
        width: 24px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
    }
    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }
    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }
    .navbar .navbar-toggler.open-navbar-toggler span {
        background-color: transparent;
    }
    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
    }
    .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    }
}

/* INTRODUCTION SECTION */
.introduction{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #9EB09E;
    padding-top:8%;
    padding-bottom:6%;
}
.my-name{
    font-family: 'MV Boli', sans-serif;
    font-size: 35px;
}
.my-name h1{
    text-align: center;
}
.my-occupation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.my-occupation p{
    color: #838482;
    font-size: 16px;
}
@media (max-width:767px) {
    .my-name{
        font-size: 30px;
    }
}
@media (max-width:620px) {
    .my-name{
        font-size: 25px;
    }
}
@media (max-width:432px) {
    .my-name{
        font-size: 20px;
    }
    .my-occupation p {
        font-size: 13px;
    }
    .introduction{
        padding-top: 15%;
    }
}
@media (max-width:245px) {
    .my-name{
        font-size: 16px;
    }
    .my-occupation p {
        font-size: 10px;
    }
    .introduction{
        padding-top: 20%;
    }
}

/* About me Section */
.about-me{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.title-card{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.column.card {
    display: flex;
    justify-content: center;
}
.about-paragraph{
    color: black;
    width: 85%;
    font-size: 20px;
} 

/* SKILLS BAR */
.my-skills {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills {
    /* position: absolute; */
    background-color: white;
}  
.skills-bar {
    padding: 25px 30px;
}
.skills-bar .bar {
    margin: 25px 0;
}

.skills-bar .bar .info span {
    font-size: 15px;
    font-weight: 500;
}
.skills-bar .bar .info {
    margin-bottom: 8px;
    color: #07374a;
}
.skills-bar .bar .progress-line {
    position: relative;
    height: 20px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line span {
    position: absolute;
    background: #9EB09E;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-line .html {
    width: 90%;
}
.progress-line .css {
    width: 90%;
}
.progress-line .bootstrap {
    width: 90%;
}
.progress-line .scss {
    width: 80%;
}
.progress-line .javascript {
    width: 50%;
}
.progress-line .php {
    width: 5%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
}
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a7a;
    padding: 1px 8px;
    border-radius: 3px;
}  
.progress-line .html::after {
    content: "90%";
}
.progress-line .css::after {
    content: "90%";
}
.progress-line .bootstrap::after {
    content: "90%";
}
.progress-line .scss::after {
    content: "80%";
}
.progress-line .javascript::after {
    content: "50%";
}
.progress-line .php::after {
    content: "5%";
}
@media (max-width: 700px) {
    .skills{
        width: 80%;
    }

    .skills-bar .bar .progress-line{
        width: 100%;
    }
}
.my-github {
    width: 40%;
    height: 200px;
    border: 1px solid transparent;
    background-color: #9EB09E;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.git-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.git-tittle{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Projects */
.projects-box{
    background-color: #98a798;
    padding: 1%;
}
.project-box, .my-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
}
.project-card {
    border: 1px solid transparent;
    background-color: #658265;
    padding-bottom: 1%;
    margin: 2%;
}
.card-link{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}
a.checkBtn{
    text-decoration: none;
    background-color: black;
    color: #9EB09E;
    padding: 1% 5% 1% 5%;
    border-radius: 10px;
}
a.checkBtn:hover{
    background-color: #9EB09E;
    color: #000000;
}
.project-tittle{
    text-align: center;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #6F886F, rgba(0, 0, 0, 0));
}
.showBtn{
    text-align: center;
    background-color: transparent;
}
#myBtn{
    background-color: black;
    color: #9EB09E;
    padding: 0.5% 4% 0.5% 4%;
    border-radius:10px ;
}
#myBtn:hover{
    background-color: #9EB09E;
    color: #000000;
}